<div class="exam-wrapper">
    @if (screenControl.exam && examQuestions){
    <nav class="navbar fixed-top exam-nav container-fluid p-container">
        <div class="d-flex w-100 p-4">
            <div class="col-md-2">
                <img src="assets/images/itc_logo.png" class="img-fluid logo" alt="Itc Logo" />
            </div>
        </div>
    </nav>
    }
    @else {
    <nav class="navbar fixed-top exam-nav container-fluid p-container">
        <div class="d-flex w-100 p-4">
            <div class="col-md-2">
                <img src="assets/images/itc_logo.png" class="img-fluid logo" alt="Itc Logo" />
            </div>
        </div>
    </nav>
    }

    <button (click)="confirm()">Click tets Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga quas nemo ullam, dolorem doloribus ad unde optio amet laborum repellat quam ea earum quae, blanditiis quibusdam? Est libero laboriosam id.</button>
    
    <!-- @if (screenControl.center) {
    <app-center [centerInput]="{list: centerList, deviceInfo: deviceInfo, blockControl: responseControl}"
        (onClickNextToVerify)="registerDevice($event)" />
    }
    @else if (screenControl.verify) {
    <app-verify [verifyInput]="{blockControl: responseControl}"/>
    <button (click)="captureFinger()">Retry</button>
    }
    @else if (screenControl.userDetails) {
    <app-user-details [readUserProfile]="{profileDetails: readUserProfile, blockControl: responseControl}" />
    }
    @else if (screenControl.survey) {
    <app-survey [surveyInput]="{survey: surveyQuestions, blockControl: responseControl}" (onClickSubmitSurvey)="submitSurvey($event)"></app-survey>
    }
    @else if (screenControl.exam && examQuestions) {
    <app-exam [examInputs]="{questions: examQuestions, examConfig: configuration, examSetting: examSettings, blockControl: responseControl}"
        (onClickOptionSave)="individualAnswerSave($event)" (onClickExamComplete)="onExamComplete($event)" />
    }
    @else {

    } -->

    <app-center [centerInput]="{list: centerList, deviceInfo: deviceInfo, blockControl: responseControl}"
    (onClickNextToVerify)="registerDevice($event)" />


    <!-- <app-verify (retryClick)="captureFinger()"/> -->

    <!-- <app-survey [surveyInput]="surveyQuestions" (onClickSubmitSurvey)="submitSurvey($event)"></app-survey> -->

    <!-- <app-result />   -->

    <!-- <app-user-details [readUserProfile]="{profileDetails: readUserProfile}" /> -->
</div>