<div class="exam-wrapper">
    @if (screenControl.exam && examQuestions){
    <nav class="navbar fixed-top exam-nav container-fluid p-container">
        <!-- <div class="d-flex w-100 p-4">
            <div class="col-md-2">
                <img src="assets/images/itc_logo.png" class="img-fluid logo" alt="Itc Logo" />
            </div>
        </div> -->
    </nav>
    }
    @else {
    <nav class="navbar fixed-top exam-nav container-fluid p-container">
        <div class="d-flex w-100 p-4">
            <div class="col-md-2">
                <img src="assets/images/itc_logo.png" class="img-fluid logo" alt="Itc Logo" />
            </div>
        </div>
    </nav>
    }

    <!-- @if(pingErrorScreen) {
    <div class="d-flex align-items-center justify-content-center service-error">
        <p>Local service not Started Please check your connection</p>
    </div>
    }
    @if (screenControl.center) {
        <app-center [centerInput]="{list: centerList, deviceInfo: deviceInfo, blockControl: responseControl}"
            (onClickNextToVerify)="registerDevice($event)" />

    }
    @else if (screenControl.verify) {
        <app-verify [verifyInput]="{blockControl: responseControl, scannerDetails: scannerResponse }"
        (retryClick)="captureFinger()" (reconnectScanner)="initScanner()" />

    }
    @else if (screenControl.userDetails) {
        <app-user-details [readUserProfile]="{profileDetails: readUserProfile, blockControl: responseControl}" />
    }
    @else if (screenControl.survey) {
        <app-survey [surveyInput]="{survey: surveyQuestions, blockControl: responseControl}"
        (onClickSubmitSurvey)="submitSurvey($event)"></app-survey>
    }
    @else if (screenControl.exam && examQuestions) {
        <app-exam
        [examInputs]="{questions: examQuestions, examConfig: configuration, examSetting: examSettings, blockControl: responseControl}"
        (onClickOptionSave)="individualAnswerSave($event)" (onClickExamComplete)="onExamComplete($event)" />
    }
    @else if (screenControl.result) {
        <app-result (toRetestOrRenew)="toRetestOrRenew($event)" />
    }
    @else {

    } -->



    <!-- <app-survey [surveyInput]="{survey: surveyQuestions, blockControl: responseControl}"
        (onClickSubmitSurvey)="submitSurvey($event)"></app-survey> -->



    <app-result [examResultResponse]="examResultResponse" (toRetestOrRenew)="toRetestOrRenew($event)" />


    <!-- <button (click)="test()">Test Dialog</button> -->

    <!--     <app-result (toRetestOrRenew)="toRetestOrRenew($event)"/> -->
    <!--     <app-user-details [readUserProfile]="{profileDetails: readUserProfile, blockControl: responseControl}" />
 -->


</div>