<div class="exam-wrapper">
<!--     {{ screenControl | json }}
 -->   
    <!-- @if (screenControl.center) {
    <app-center [centerInput]="{list: centerList, deviceInfo: deviceInfo}"
        (onClickNextToVerify)="registerDevice($event)" />
    }
    @else if (screenControl.verify) {
    <app-verify />
    <button (click)="captureFinger()">Retry</button>
    }
    @else if (screenControl.userDetails) {
    <app-user-details [readUserProfile]="{profileDetails: readUserProfile}" />
    }
    @else if (screenControl.survey) {
    <app-survey [surveyInput]="surveyQuestions" (onClickSubmitSurvey)="submitSurvey($event)"></app-survey>
    }
    @else if (screenControl.exam && examQuestions) {
    <app-exam [examInputs]="{questions: examQuestions, examConfig: configuration}" (onClickOptionSave)="individualAnswerSave($event)" (onClickExamComplete)="onExamComplete($event)"/>
    } 
    @else {

    } -->

    
        
    <!--    
         
        <app-exam />
        <app-summary />
        <app-result />  
    -->
    <!-- <app-exam /> -->

    <app-result />  
</div>