@font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-display: swap;
    src: url("./poppins/Poppins-Thin.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-display: swap;
    src: url("./poppins/Poppins-ExtraLight.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-display: swap;
    src: url("./poppins/Poppins-Light.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-display: swap;
    src: url("./poppins/Poppins-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-display: swap;
    src: url("./poppins/Poppins-Medium.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-display: swap;
    src: url("./poppins/Poppins-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-display: swap;
    src: url("./poppins/Poppins-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-display: swap;
    src: url("./poppins/Poppins-ExtraBold.ttf") format("opentype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-display: swap;
    src: url("./poppins/Poppins-Black.ttf") format("opentype");
}

@font-face {
    font-family: 'ge-ss-arabic';
    src: url('./ge-ss-arabic/ArbFONTS-GE-SS-Text-Medium.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'NotoKufiArabic,Roboto-medium,sans-serif';
    src: url('./Kulfi-Arabic/NotoKufiArabic-Thin.ttf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NotoKufiArabic,Roboto-medium,sans-serif';
    src: url('./Kulfi-Arabic/NotoKufiArabic-ExtraLight.ttf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'NotoKufiArabic,Roboto-medium,sans-serif';
    src: url('./Kulfi-Arabic/NotoKufiArabic-Light.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NotoKufiArabic,Roboto-medium,sans-serif';
    src: url('./Kulfi-Arabic/NotoKufiArabic-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'NotoKufiArabic,Roboto-medium,sans-serif';
    src: url('./Kulfi-Arabic/NotoKufiArabic-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'NotoKufiArabic,Roboto-medium,sans-serif';
    src: url('./Kulfi-Arabic/NotoKufiArabic-SemiBold.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'NotoKufiArabic,Roboto-medium,sans-serif';
    src: url('./Kulfi-Arabic/NotoKufiArabic-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'NotoKufiArabic,Roboto-medium,sans-serif';
    src: url('./Kulfi-Arabic/NotoKufiArabic-ExtraBold.ttf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'NotoKufiArabic,Roboto-medium,sans-serif';
    src: url('./Kulfi-Arabic/NotoKufiArabic-Black.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    font-weight: 400;
    font-display: swap;
    src: url("./Orbitron/static/Orbitron-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Orbitron";
    font-weight: 500;
    font-display: swap;
    src: url("./Orbitron/static/Orbitron-Medium.ttf") format("opentype");
}

@font-face {
    font-family: "Orbitron";
    font-weight: 600;
    font-display: swap;
    src: url("./Orbitron/static/Orbitron-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: "Orbitron";
    font-weight: 700;
    font-display: swap;
    src: url("./Orbitron/static/Orbitron-Bold.ttf") format("opentype");
}

