.result-wrapper {
    padding: 5rem;
    padding-right: 0rem;
    // height: 100vh;
    // overflow: auto;

    .section {
        width: 100%;
        height: calc(100vh - 230px);
        overflow-y: auto;
        margin-top: 4rem;
        padding-right: 5rem;

        .result-sec {
            // background-color: white;
            padding: 1em;
            border-radius: 5px;

            .user-wrapper {
                display: flex;
                gap: 1em;

                .user-details {
                    // border: 1px solid #cbcbcb;
                    border-radius: 5px;
                    padding: 10px;
                    width: 100%;
                    // background-color: white;
                }

                // .user-profile {
                //     border: 1px solid #cbcbcb;
                //     border-radius: 5px;
                //     padding: 10px;
                //     width: 20%;

                //     .user-img {

                //         display: flex;
                //         gap: 1em;

                //         .user-img-wrap {
                //             justify-content: center;
                //             width: 100px;
                //             padding: 6px;
                //             height: 100px;
                //             box-sizing: content-box;

                //             img {
                //                 color: transparent;
                //                 width: 100%;
                //                 height: 100%;
                //                 object-fit: cover;
                //                 text-align: center;
                //                 text-indent: 10000px;
                //                 border-radius: 5px;
                //             }

                //         }
                //     }
                // }
            }

            .table-section {
                border: 1px solid #cbcbcb;
                border-radius: 5px;
                padding: 25px;
                background-color: white;
            }

        }
    }
}


.assessment-status .element:first-child {
    width: 14%;
}

.assessment-status .element:nth-child(2) {
    width: 12%;
}

.assessment-status .element:nth-child(3) {
    width: 12%;
}

.assessment-status .element:nth-child(4) {
    width: 12%;
}

.assessment-status .element:nth-child(5) {
    width: 10%;
}

.assessment-status .element:nth-child(6) {
    width: 10%;
}

.assessment-status .element:nth-child(7) {
    width: 15%;
}

.assessment-status .element:last-child {
    border-right: none !important;
    width: 15%;
}

.permit-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid #222022;
    justify-content: center;
    border-radius: 8px;
    width: 12rem;

    .permit-top {
        padding: 10px;
        text-align: center;
    }

    .permit-bottom {
        padding: 8px;
        background-color: #ffc628;
        border-top: 2px solid #222022;
        text-align: center;
        border-radius: 8px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        .permit-no {
            font-weight: 700;
            font-size: 1.25rem;
            margin-bottom: 6px;
        }
    }
}

.license-wrapper {

    border: 1px solid #cbcbcb;
    border-radius: 5px;
    padding: 25px;
    background-color: white;

    .sec-wrapper {
        // display: flex;
        // gap: 0.25em;
        // align-items: center;
        background-color: white;
        border-radius: 15px;
    }

    .sec-heading {
        padding: 10px;
        background-color: #cbcbcb;
        text-align: center;
    }

    .details-sec {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-top: 15px;
        margin-left: 15px;

        .license-det {
            display: flex;

            .label {
                font-size: 0.8rem;
                color: #686868;
            }

            .field-value {
                font-size: 0.8rem;
            }
        }
    }

}

.heading-section {
    color: white;
    border: 1px solid black;
    padding: 16px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 8px;
    margin-bottom: 1.25rem;
    background-color: #003a5d;
}

.user-img-wrap {
    justify-content: center;
    width: 150px;
    height: 150px;
    box-sizing: content-box;

    img {
        color: transparent;
        width: 100%;
        height: 100%;
        object-fit: cover;
        text-align: center;
        text-indent: 10000px;
        border-radius: 50%;
    }

}

.assessment-sec {
    width: 70%;
}


.top-section {
    display: flex;
    gap: 1em;
    width: 100%;
}

.labels {
    font-size: 1.5rem;
    font-weight: 600;
}

.first-half {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 39%;
}

.set-size {
    font-size: 1.25em;
    line-height: 1.35;
}

.license-info {
    display: flex;
    flex-direction: column;
    border: 2px solid #222022;
    justify-content: center;
    border-radius: 8px;

    .permit-top {
        padding: 20px;
        text-align: center;
        font-size: 1.5rem;
    }

    .permit-bottom {
        padding: 8px;
        background-color: #bbc0c4;
        border-top: 2px solid #222022;
        text-align: center;
        border-radius: 8px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

        .set-border {
            border-bottom: 1px solid black;
            margin-bottom: 20px;
            margin-top: 17px;
        }

        .permit-no {
            font-weight: 700;
            font-size: 1.25rem;
            padding-bottom: 16px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.det-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .icon {
        margin-left: 2rem
    }
}

.success-icon {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.success-img {
    width: 16rem;
    height: 17rem;

}

.text-sucess {
    font-size: 2.5rem;
    font-weight: 600;
    color: forestgreen;
}

.text-failed {
    font-size: 2.5rem;
    font-weight: 600;
    color: #d1403f;
}

.failed-img {
    padding-top: 3rem;
    width: 12rem;
    height: 15rem;
}

.date-section {
    font-size: 1.75em;
    font-weight: 600;
}

.green-set {
    padding: 1rem 3rem;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: forestgreen;
}

.red-set {
    padding: 1rem 3.35rem;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: #d1403f;
}