.result-wrapper {
    padding: 5rem;
    // height: 100vh;
    // overflow: auto;

    .section {
        width: 100%;
        height: calc(100vh - 200px);
        overflow-y: auto;

        .result-sec {
            background-color: white;
            padding: 1em;
            border-radius: 5px;

            .user-wrapper {
                display: flex;
                gap: 1em;

                .user-details {
                    border: 1px solid #cbcbcb;
                    border-radius: 5px;
                    padding: 10px;
                    width: 80%;
                }

                .user-profile {
                    border: 1px solid #cbcbcb;
                    border-radius: 5px;
                    padding: 10px;
                    width: 20%;

                    .user-img {

                        display: flex;
                        gap: 1em;

                        .user-img-wrap {
                            justify-content: center;
                            width: 100px;
                            padding: 6px;
                            height: 100px;
                            box-sizing: content-box;

                            img {
                                color: transparent;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                text-align: center;
                                text-indent: 10000px;
                                border-radius: 50%;
                            }

                        }
                    }
                }
            }

            .table-section {
                border: 1px solid #cbcbcb;
                border-radius: 5px;
                padding: 10px;
            }

        }
    }
}


.assessment-status .element:first-child {
    width: 30%;
}

.assessment-status .element:nth-child(2) {
    width: 10%;
}

.assessment-status .element:nth-child(3) {
    width: 10%;
}

.assessment-status .element:nth-child(4) {
    width: 10%;
}

.assessment-status .element:nth-child(5) {
    width: 10%;
}

.assessment-status .element:nth-child(6) {
    width: 10%;
}

.assessment-status .element:last-child {
    border-right: none !important;
    width: 20%;
}