<div class="app-wrapper">
    <!-- <nav class="navbar fixed-top exam-nav container-fluid p-container">
        <div class="d-flex w-100 ">
            <div class="col-md-2">
                <img src="assets/images/itc_logo.png" class="img-fluid logo" alt="Itc Logo" />
            </div>
            <div class="col-md-10">
                <div class="d-flex align-items-center justify-content-end">
                    <app-header />
                </div>
            </div>
        </div>
    </nav> -->
    <div class="">
        <router-outlet />
    </div>
</div>