<div class="center-wrap text-center mt-5">
    <div>
        <h4 class="primary-heading">Assessment Center</h4>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-5 col-sm-offset-7">
            <div class="search-box position-relative">
                
                <input type="text" class="search-input w-100" [value]="choosedCenter" 
                    placeholder="Select one center from the below list" readonly [class.has-error]="isInputValid" />
                <span class="arrow-icon"><img src="assets/images/google-icons/down.svg" class="img-fluid"></span>
            </div>
            <div class="search-list mt-3">
                <div class="h-100 overflow-auto text-start">
                    <ul class="p-0 list-unstyled">
                        <ng-container *ngFor="let item of list">
                            <li (click)="onClickCenter(item)" [class.activeItem]="item.active">{{ item.Description }}
                            </li>
                        </ng-container>

                    </ul>
                </div>
            </div>
            <div class="next-button text-end mt-4">
                <button mat-button class="next-button" (click)="onClickNextToVerifyScreen()">
                    Next
                    <img src="assets/images/google-icons/right-arrow.svg" class="img-fluid pl-3" />
                </button>
            </div>
        </div>
    </div>

</div>