.center-card {
    background: #e7ebff;
    padding: 3rem 0;
    border-radius: 5px;

}

.search-box {
    position: relative;
    width: 30rem;

    input.search-input {
        padding: 0.8rem;
        border-radius: 5px;
        border: 1px solid #9c9c9c;
        font-weight: 400;
        font-size: 1.5rem;
        background-color: #fff;

        &:focus {
            outline: none;
        }

        &.has-error {
            border-color: rgb(246, 0, 0) !important;
            background: #ffe5e5 !important;
        }
    }

    span.arrow-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 3px;
        padding: 2px;
    }
}

.search-list {
    height: 30rem;
    width: 30rem;
    border-radius: 5px;
    background-color: #fff;

    ul {
        li {
            padding: 31px 25px;
            font-size: 1.5rem;
            transition: all 0.3s ease-in;

            &:hover {
                background: #003a5d;
                color: #fff;
                cursor: pointer;
            }

            &.activeItem {
                background: #003a5d;
                color: #fff;
                border-radius: 5px;
            }
        }
    }

}

.next-wrap {
    display: flex;
    gap: 6rem;

    .search-section {
        display: flex;
        flex-direction: column;
    }
}

.next-button button {
    background: #003a5d;
    padding: 0 3rem;
    font-weight: 400;
    color: #fff !important;
}

.section-wrap {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.heading-section {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 7rem;
}

.wrap-assesment {
    height: 99vh;
}

.next-button {
    background-color: #003a5d;
    padding: 1rem 3rem;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
}