<div class="wrapper">

    <div class="header-section-wrap">
        <div class="logo">
            <!-- <img src="assets/images/itc_logo.png" class="img-fluid logo" alt="Itc Logo" /> -->
        </div>
        <h5 class="heading-section">
            Survey
        </h5>
    </div>

    <div class="survey-questions-wrapper">
        <div class="content-section" *ngFor="let item of surveyDummyData; let i = index;">
            <div class="dot">
                <img src="/assets/images/google-icons/tick.svg" />
            </div>
            <div class="question-sec-wrap">
                <div class="each-question-section">
                    <p class="english-question">
                        {{ item.OBJECT_NAME }}
                    </p>
                    <p class="arabic-question">
                        {{ item.OBJECT_NAME_ARABIC }}
                    </p>
                </div>
                <div class="option-section">
                    <mat-radio-group>
                        <mat-radio-button (change)="item.OPT_1 = 1">
                            <p class="font-en">Yes</p>
                        </mat-radio-button>
                        <mat-radio-button (change)="item.OPT_1 = 0" class="mx-3">
                            <p class="font-en">No</p>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div class="text-end mt-4">
            <button class="next-button" (click)="emitData()">
                Next
                <img src="assets/images/google-icons/right-arrow.svg" class="img-fluid pl-3" />
            </button>
        </div>
    </div>
</div>