<div class="center-wrap text-center mt-5">
    <div>
        <h4 class="primary-heading">Survey</h4>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 col-sm-offset-4">
            <div class="search-list mt-3">
                <div class="h-100 overflow-auto text-start p-4">
                    <ng-container *ngFor="let item of surveyDummyData; let i = index;">
                        <div class="row g-0 mb-5">
                            <div class="col-md-1">
                                {{ i+1 }}.
                            </div>
                            <div class="col-md-11">
                                <div class="question">
                                    <p class="field-value">{{ item.OBJECT_NAME }}</p>
                                    <p class="field-value font-ar text-end mb-0">{{ item.OBJECT_NAME_ARABIC }}</p>
                                </div>
                                <div>
                                    <mat-radio-group>
                                        <mat-radio-button 
                                            (change)="item.OPT_1 = 1">Yes</mat-radio-button>
                                        <mat-radio-button (change)="item.OPT_1 = 0"
                                            class="mx-3">No</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>
            <div class="next-button text-end mt-4">
                <button mat-button class="next-button" (click)="emitData()">
                    Next
                    <img src="assets/images/google-icons/right-arrow.svg" class="img-fluid pl-3" />
                </button>
            </div>
        </div>
    </div>

</div>