<!-- <div class="container-fluid p-container exam-wrapp mt-4">
    @if(!timeOutSubmit) {
    <div class="row">
        <div class="col-md-9">
            <div class="exam-header">
                <div class="row g-0 align-items-center justify-content-between h-100 px-3">
                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <div class="col-2 user-det">
                                <div class="py-2">
                                    <img src="assets/images/user-pic.jpg" class="driver" />
                                </div>
                            </div>
                            <div class="col-10">
                                <h4 class="highlight-value m-0">Abdul Ayaz Haji Abdulla</h4>
                                <h4 class="highlight-value text-end font-ar m-0">ِلاياعم أشغشئ أشته ِيلاعممش</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="timer mx-5 mt-1">

                            </div>
                            <div>
                                <button mat-mini-fab class="viewquestion" (click)="onClickToReviewExam()">
                                    <img src="assets/images/google-icons/eye.svg" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @for (question of questions; track question.ID; let i = $index) {
            @if(question.isShow) {
            <div class="exam-body my-3">
                <div>
                    <div class="d-flex align-items-center title-bar p-4">
                        <div class="col-md-5">
                            <span class="cat-name">{{ question.category.OBJECT_NAME }}</span>
                        </div>
                        <div class="col-md-2 text-center">
                            <span class="outof">{{i+1}} - {{questionMaxCount}}</span>
                        </div>
                        <div class="col-md-5 text-end">
                            <section class="review-bttn-wrapper d-flex justify-content-end align-items-center">
                                <button (click)="add_remove_Review(question)"
                                    class="review-bttn d-flex align-items-center px-3">
                                    <p class="mb-0">Add to review</p>
                                    @if (question.isReview) {
                                    <img src="assets/images/star-active.png" />
                                    } @else {
                                    <img src="assets/images/star.png" />
                                    }
                                </button>
                            </section>
                        </div>
                    </div>
                    <div class="row g-0 h-100">
                        <ng-container *ngIf="question.IS_MAP || question.HAS_IMAGE">
                            <div class="col-md-6">
                                @if(question.IS_MAP) {
                                <app-esri-map [answers]="question.Answers" />
                                } @else {
                                <div class="ques-img" [style.background-image]="'url(' + question.image + ')'"> </div>
                                }
                            </div>
                        </ng-container>
                        <div [ngClass]="!(question.IS_MAP || question.HAS_IMAGE) ? 'col-md-12' : 'col-md-6'"
                            class="question-scroll postion-relative">
                            <div class="row justify-content-center">
                                <div
                                    [ngClass]="(question.IS_MAP || question.HAS_IMAGE) ? 'col-md-12' : 'col-sm-8 col-sm-offset-4'">
                                    <div class="each-quesion">
                                        <h4 class="question">{{ question.QUESTION_NAME }} </h4>
                                        <h4 class="question text-end font-ar">{{ question.QUESTION_NAME_AR }}</h4>
                                    </div>

                                    <div class="row justify-content-center">
                                        @for (options of question.Answers; track options.ID; let j = $index) {
                                        <div
                                            [ngClass]="!(question.IS_MAP || question.HAS_IMAGE) ? 'col-md-6' : 'col-sm-9 col-sm-offset-3'">
                                            @if(question.HAS_IMAGE !== 1) {
                                            <button class="option-bttn w-100"
                                                (click)="optionSelect(question.Answers, options, question)"
                                                [class.selected]="options?.selected">
                                                <div class="row align-items-center">
                                                    <div class="col-md-2">
                                                        @if(options.selected) {
                                                        <img src="assets/images/google-icons/square-box-tick.svg" />
                                                        } @else {
                                                        <img src="assets/images/google-icons/square-box.svg" />
                                                        }
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p class="text-start">{{ options.GRADE_NAME }}</p>
                                                        <p class="text-end">{{ options.GRADE_NAME_AR }}</p>
                                                    </div>
                                                </div>
                                            </button>
                                            } @else {
                                            <div class="ans-img"
                                                (click)="optionSelect(question.Answers, options, question)"
                                                [style.background-image]="'url(' + options.image + ')'"> </div>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="exam-footer">
                <div class="row g-0 align-items-center justify-content-between h-100 px-3">

                    <div class="progg mx-4">
                        <div class="progress-bar">
                            <div class="progress-done" [style.width]="elapsedTimePercentage()">
                                <span class="completed-ques"><span><img
                                            src="assets/images/google-icons/timer.svg" /></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="next text-end">
                        <div class="timer d-flex align-items-center justify-content-end">
                            <p class="m-0 count-timer text-left"> {{ countDownTimer }}</p>
                        </div>

                    </div>
                </div>
            </div>
            }
            }

        </div>
        <div class="col-md-1">
            <div class="d-flex align-items-center justify-content-center direction-column dire h-100">
                @if(currentQuestionIndex > 1) {
                <button class="prev-bttn" (click)="prevQuesButton()">
                    <img src="assets/images/google-icons/east.svg" />
                </button>
                }
                @if(questionMaxCount > currentQuestionIndex) {
                <button class="nxt-bttn" (click)="nextQuesButton()">
                    <img src="assets/images/google-icons/east.svg" />
                </button>
                }
                @if(questionMaxCount === currentQuestionIndex) {
                <button class="nxt-bttn" (click)="completeAlert()">
                    Complete Exam
                </button>
                }

            </div>
        </div>
        <div class="col-md-2">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <div class="complete-percent text-center p-3">
                    <h4>Compelted Questions</h4>
                    <app-circular-progress [quesPercentage]="completeQuesPercentage" />
                </div>
                <div class="menu-box-wrap">
                    <div class="bg-blk h-100">
                        <div class="menu-box-numbers">
                            @for (question of questions; track question.ID; let i = $index) {
                            <div class="num" [ngClass]="question.isAnswered ? 'answered' : ''"
                                (click)="switchToEditAnswer(question)"> {{
                                i+1 }} </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    } @else {
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-3 col-md-offset-3 col-sm-12 col-12 p-5 timeout-wrapper">
                <div class="row align-items-center justify-content-center timeout-Warn mb-4">
                    <h4 class="mx-4"> Your time is over </h4>
                </div>
                <p></p>
            </div>
        </div>
    </div>
    }
</div> -->


<div class="exam-sec-wrapper">
    <div class="exam-user-deatils">
        <div class="top-section">
            <div class="d-flex mt-2 justify-content-start align-items-center set-gap">
                <div class="user-section">
                    <div class="d-flex align-items-center">
                        <div class="user-img-wrap">
                            <img src="assets/images/user-pic.jpg" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="name-section">
                    <div class="col-md-12 mb-2">
                        <h5 class="label font-sec">Hasanul Banna</h5>
                        <h5 class="label font-sec font-ar">أشسشىعم لآشىىش</h5>
                    </div>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <div class="progress-percent">{{completeQuesPercentage}} Complete</div>
                <div class="timer-small d-flex align-items-center justify-content-end">
                    <p class="m-0 count-timer text-left"> {{ countDownTimer }}</p>
                </div>
            </div>
            <div class="progress-section">
                <div class="progress-bar" [style.width]="completeQuesPercentage"></div>
                <!-- <app-circular-progress [quesPercentage]="completeQuesPercentage" /> -->
            </div>
        </div>
        <div class="categories-section">
            @for(item of categoryList; let i = $index; track i) {
            <div class="each-catgory">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="topic">
                        <div class="arrow">
                            <img src="/assets/images/google-icons/arrow-right.svg" alt="">
                        </div>
                        <h5 class="heaing-section">
                            {{ item[0].category.OBJECT_NAME }}
                        </h5>
                    </div>
                    <div class="answered-section">
                        <p class="count">
                            {{item[0].answeredCount}}/{{ item?.length }}
                        </p>
                        <div class="circle" [class.green-colour]="item[0].answeredCount === item?.length"></div>
                    </div>
                </div>
            </div>
            }

        </div>
        <div class="number-section">
            <div class="number-wrap">
                @for (question of questions; track question.ID; let i = $index) {
                <div class="card" (click)="switchToEditAnswer(question)"
                    [ngClass]="question.isAnswered ? 'selected' : question.isShow ? 'visited' : ''">
                    @if (question.isReview) {
                    <img src="assets/images/star-active.png" class="review-star" />
                    }
                    <p class="number">
                        {{ i+1 }}
                    </p>
                </div>}
            </div>
        </div>
    </div>
    <div class="exam-details">
        <div class="timer-section">
            <img src="assets/images/itc_logo.png" class="img-fluid logo" alt="Itc Logo" />
            <div class="next text-end">
                <div class="timer d-flex align-items-center justify-content-end">
                    <p class="m-0 count-timer text-left"> {{ countDownTimer }}</p>
                </div>

            </div>
        </div>
        <div class="question-wrapper">
            @for (question of questions; track question.ID; let i = $index) {
            @if(question.isShow) {
            <div class="question-section">
                <div class="question-heading">
                    <h5 class="cat-tab">


                        @if(displayLanguage === 'En') { {{ question.category.OBJECT_NAME }} } @else { {{
                        question.category.OBJECT_NAME_ARABIC }} }

                    </h5>
                    <div class="language">
                        @for (item of toggleLanguage; let j = $index; track j) {
                        <div class="set-pointer" (click)="clickLanguage(j)"
                            [ngClass]="(item.active) ? 'active-language' : 'setting-margin '">
                            {{item.language}}</div>
                        }
                    </div>
                    <div class="add-review" (click)="add_remove_Review(question)">
                        <p class="review-txt">
                            @if(displayLanguage === 'En') { Add to Review } @else { أضف للمراجعة }
                        </p>
                        <div class="star">
                            <!-- <img src="assets/images/google-icons/star.svg" /> -->
                            @if (question.isReview) {
                            <img src="assets/images/star-active.png" />
                            } @else {
                            <img src="assets/images/star.png" />
                            }
                        </div>
                    </div>
                </div>

                <div class="d-flex w-100 align-items-center justify-content-center section-setting">

                    @if(question.IS_MAP) {
                    <div class="map-section">
                        <app-esri-map [answers]="question.Answers" />
                    </div>
                    } @else if(question.HAS_IMAGE) {
                    <div class="ques-img">
                        <div class="img-question">
                            <div [style.background-image]="'url(' + question.image + ')'" class="imgggg"></div>
                        </div>
                    </div>
                    }

                    <div class="question-section"
                        [ngClass]="(question.IS_MAP || question.HAS_IMAGE) ? 'map-section' : 'w-100'">
                        <p class="quest-count">
                            {{i+1}} of {{ questions.length }}
                        </p>
                        @if(displayLanguage === 'En') {
                        <p class="question">
                            {{ question.QUESTION_NAME }}
                        </p>} @else {
                        <p class="question">
                            {{ question.QUESTION_NAME_AR }}
                        </p>}

                        <div class="options"
                            [ngClass]="(question.IS_MAP || question.HAS_IMAGE) ? 'map-section-grid' : 'normal-grid'">
                            <div *ngFor="let options of question.Answers; trackBy: trackById; let j = index"
                                [class.activeOption]="options.selected"
                                [ngClass]="{'en': displayLanguage === 'En', 'ar': displayLanguage === 'Ar'}"
                                (click)="optionSelect(question.Answers, options, question)">
                                <div class="checkbox">
                                    <img *ngIf="options.selected"
                                        src="assets/images/google-icons/square-box-tick.svg" />
                                    <img *ngIf="!options.selected" src="assets/images/google-icons/square-box.svg" />
                                </div>
                                <p class="answer">
                                    {{ displayLanguage === 'En' ? options.GRADE_NAME : options.GRADE_NAME_AR }}
                                </p>
                            </div>
                        </div>


                    </div>


                </div>

            </div>
            }
            }
            <div class="navigate-review">
                <div class="review">
                    <button class="viewquestion" (click)="onClickToReviewExam()">
                        <img src="assets/images/google-icons/eye.svg" />
                    </button>
                </div>
                <div class="arrow-section">
                    @if(questionMaxCount > currentQuestionIndex) {
                    <div class="arrow-prev-wrap" (click)="nextQuesButton()">
                        <img src="assets/images/google-icons/arrow-next.svg" alt="">
                    </div>
                    }
                    @if(questionMaxCount === currentQuestionIndex) {
                    <button class="nxt-bttn" (click)="completeAlert()">
                        Complete Exam
                    </button>
                    }
                    @if(currentQuestionIndex > 1) {
                    <div class="arrow-next-wrap" (click)="prevQuesButton()">
                        <img src="assets/images/google-icons/arrow-prev.svg" alt="">
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>