<div class="container-fluid p-container exam-wrapp mt-4">
    <div class="row">
        <div class="col-md-9">
            <div class="exam-header">
                <div class="row g-0 align-items-center justify-content-between h-100 px-3">
                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <div class="col-2 user-det">
                                <div class="py-2">
                                    <img src="assets/images/user-pic.jpg" class="driver" />
                                </div>
                            </div>
                            <div class="col-10">
                                <h4 class="highlight-value m-0">Abdul Ayaz Haji Abdulla</h4>
                                <h4 class="highlight-value text-end font-ar m-0">ِلاياعم أشغشئ أشته ِيلاعممش</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="timer mx-5 mt-1"> <img src="assets/images/google-icons/timer.svg" />{{
                                countDownTimer }}
                            </div> 
                            <div>
                                <button mat-mini-fab class="viewquestion" (click)="onClickToReviewExam()">
                                    <img src="assets/images/google-icons/eye.svg" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @for (question of questions; track question.ID; let i = $index) {
            @if(question.isShow) {
            <div class="exam-body my-3">
                <div>
                    <div class="d-flex align-items-center title-bar p-4">
                        <div class="col-md-5">
                            <span class="cat-name">{{ question.category.OBJECT_NAME }}</span>
                        </div>
                        <div class="col-md-2 text-center">
                            <span class="outof">{{i+1}} - {{questionMaxCount}}</span>
                        </div>
                        <div class="col-md-5 text-end">
                            <section class="review-bttn-wrapper d-flex justify-content-end align-items-center">
                                <button (click)="add_remove_Review(question)"
                                    class="review-bttn d-flex align-items-center px-3">
                                    <p class="mb-0">Add to review</p>
                                    @if (question.isReview) {
                                    <img src="assets/images/star-active.png" />
                                    } @else {
                                    <img src="assets/images/star.png" />
                                    }
                                </button>
                            </section>
                        </div>
                    </div>
                    <div class="row g-0 h-100">
                        <ng-container *ngIf="question.IS_MAP || question.HAS_IMAGE">
                            <div class="col-md-6">
                                @if(question.IS_MAP) {
                                <app-esri-map [answers]="question.Answers" />
                                } @else {
                                <div class="ques-img" [style.background-image]="'url(' + question.image + ')'"> </div>
                                }
                            </div>
                        </ng-container>
                        <div [ngClass]="!(question.IS_MAP || question.HAS_IMAGE) ? 'col-md-12' : 'col-md-6'"
                            class="question-scroll postion-relative">
                            <div class="row justify-content-center">
                                <div
                                    [ngClass]="(question.IS_MAP || question.HAS_IMAGE) ? 'col-md-12' : 'col-sm-8 col-sm-offset-4'">
                                    <div class="each-quesion">
                                        <h4 class="question">{{ question.QUESTION_NAME }} </h4>
                                        <h4 class="question text-end font-ar">{{ question.QUESTION_NAME_AR }}</h4>
                                    </div>

                                    <div class="row justify-content-center">
                                        @for (options of question.Answers; track options.ID; let j = $index) {
                                        <div
                                            [ngClass]="!(question.IS_MAP || question.HAS_IMAGE) ? 'col-md-6' : 'col-sm-9 col-sm-offset-3'">
                                            @if(question.HAS_IMAGE !== 1) {
                                            <button class="option-bttn w-100"
                                                (click)="optionSelect(question.Answers, options, question)"
                                                [class.selected]="options?.selected">
                                                <div class="row align-items-center">
                                                    <div class="col-md-2">
                                                        @if(options.selected) {
                                                        <img src="assets/images/google-icons/square-box-tick.svg" />
                                                        } @else {
                                                        <img src="assets/images/google-icons/square-box.svg" />
                                                        }
                                                    </div>
                                                    <div class="col-md-10">
                                                        <p class="text-start">{{ options.GRADE_NAME }}</p>
                                                        <p class="text-end">{{ options.GRADE_NAME_AR }}</p>
                                                    </div>
                                                </div>
                                            </button>
                                            } @else {
                                            <div class="ans-img"
                                                (click)="optionSelect(question.Answers, options, question)"
                                                [style.background-image]="'url(' + options.image + ')'"> </div>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="exam-footer">
                <div class="row g-0 align-items-center justify-content-between h-100 px-3">
                    <div class="prev">
                        @if(question.isPrevious) {
                        <button mat-button class="prev-ques-button w-100"
                            (click)="previousQuestion(i)">Previous</button>
                        }
                    </div>
                    <div class="progg mx-4">
                        <div class="progress-bar">
                            <!-- <span class="start-question">0</span> -->
                            <div class="progress-done" [ngStyle]="{'width': questionProgress(i) + '%'}">
                                <!-- <span class="progress-pointer"></span> -->
                                <span class="completed-ques"><span>{{ completeQuesPercentage + '%'
                                        }}</span></span>
                            </div>
                            <!-- <span class="final-question">{{ questionMaxCount }}</span> -->
                        </div>
                    </div>
                    <div class="next text-end">
                        @if(question.isNext) {
                        <button mat-button class="next-ques-button w-100" (click)="nextQuestion(i)"> Next
                            <img src="assets/images/google-icons/right-arrow.svg" class="img-fluid pl-4" />
                        </button>
                        }
                    </div>
                </div>
            </div>
            }
            }

        </div>
        <div class="col-md-1">
            <div class="d-flex align-items-center justify-content-center direction-column dire h-100">

                <button class="prev-bttn" (click)="prevQuesButton()" [disabled]="(currentQuestionIndex > 1)">
                    <img src="assets/images/google-icons/east.svg" />
                </button>

                @if((questionMaxCount + 1) > currentQuestionIndex) {
                @if((questionMaxCount) === currentQuestionIndex) {
                <button class="nxt-bttn" (click)="completeExam()">
                    Complete Exam
                </button>
                } @else {
                <button class="nxt-bttn" (click)="nextQuesButton()">
                    <img src="assets/images/google-icons/east.svg" />
                </button>
                }
                }
            </div>
        </div>
        <div class="col-md-2">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <div class="complete-percent text-center p-3">
                    <h4>Compelted Questions</h4>
                    <app-circular-progress [quesPercentage]="completeQuesPercentage" />
                </div>
                <div class="menu-box-wrap">
                    <div class="bg-blk h-100">
                        <div class="menu-box-numbers">
                            @for (question of questions; track question.ID; let i = $index) {
                            <div class="num" [ngClass]="question.isAnswered ? 'answered' : ''"
                                (click)="switchToEditAnswer(question)"> {{
                                i+1 }} </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>