<!-- <div class="container center-wrap text-center mt-5">
    <div>
        <h4 class="primary-heading">Verify User</h4>
        <p class="info-paragraph">Scan your finger</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-5 col-sm-offset-7">
            <div class="search-list mt-3">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <img src="assets/images/finger.gif" class="finger-gif" />
                </div>
            </div>
            <div class="next-button text-end mt-4">

            </div>
        </div>
    </div>
</div> -->


<div class="verify-wrapper">

    <div class="verify-section">
        <div class="items-wrap">
            @if(!blockControl.scanner.isSuccess) {
            <div>
                <p class="no-scanner">{{ blockControl.scanner.message }}</p>
                <button class="refresh-btn d-flex align-items-center" (click)="connetToScanner()">
                    Connect to Scanner
                    @if(!blockControl.scanner.loader) {
                    <app-btn-loader />
                    }
                </button>
            </div>
            } @else {
            <div class="heading-wrap">
                <h4 class="primary-heading">Scan Finger</h4>
            </div>
            <div class="finger-print-section">

                <div class="set-finger-print"></div>
                <div class="set-green-top"></div>
                <div class="set-green"></div>
            </div>
            <button class="refresh-btn" (click)="retry()">
                {{blockControl.readAndVerifyFinger.buttonText}}

                @if(blockControl.readAndVerifyFinger.loader) {
                <app-btn-loader />
                }
            </button>
            }
        </div>
    </div>


</div>