<!-- <div class="container center-wrap text-center mt-5">
    <div>
        <h4 class="primary-heading">Verify User</h4>
        <p class="info-paragraph">Scan your finger</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-5 col-sm-offset-7">
            <div class="search-list mt-3">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <img src="assets/images/finger.gif" class="finger-gif" />
                </div>
            </div>
            <div class="next-button text-end mt-4">

            </div>
        </div>
    </div>
</div> -->


<div class="verify-wrapper">

    <div class="verify-section">
        <div class="items-wrap">
            @if(!blockControl.scanner.isSuccess) {
            <div>
                <p class="no-scanner">{{ blockControl.scanner.message }}</p>
                <button class="refresh-btn" (click)="connetToScanner()">
                    @if(blockControl.scanner.loader) {
                    <app-btn-loader />
                    } @else {
                    Connect to Scanner
                    }
                </button>
            </div>
            } @else {
            <div class="heading-wrap">
                <h4 class="primary-heading">Scan Finger</h4>
            </div>
            <div class="finger-print-section">

                <div class="set-finger-print"></div>
                <div class="set-green-top"></div>
                <div class="set-green"></div>
            </div> 
            <button class="refresh-btn" (click)="retry()">
                {{blockControl.readAndVerifyFinger.buttonText}}
            </button>
            }
        </div>
    </div>


</div>

<!-- readFinger: {
    loader: false,
    error: false,
    isSuccess: false,
    message: ''
},
verifyFinger: {
    loader: false,
    error: false, 
    message: ''
},

<button class="refresh-btn" (click)="retry()"> </button>

need to show text and loader based on object, readfinger loading false and error is true ans isSuccess false show "Scan Finger" no loader
readfinger loading true error false and is success false show loader with text "reading impression"
readfinger loader false and error is success true and blockControl.verifyFinger.loader true and blockControl.verifyFinger.error false and blockControl.verifyFinger.isSuccess false show loader and text "Verifying impression"
blockControl.verifyFinger.loader false ans error true need to show "Scan Finger" and reaset readFinger and verifyFinger
verifyFinger loader false and isSuccess true hide loader and show "Okay".   -->