.center-card {
    background: #e7ebff;
    padding: 3rem 0;
    border-radius: 5px;
}

.search-box {
    position: relative; 
}

.search-list {
    height: 300px;
    border-radius: 5px;
    /* border: 1px solid #9c9c9c; */
    background-color: #fff; 
    img.finger-gif {
        height: 180px;
        width: auto; 

    }
}

.next-button button {
    background: #003a5d;
    padding: 0 3rem;
    font-weight: 400;
    color: #fff !important;
}