.center-card {
    background: #e7ebff;
    padding: 3rem 0;
    border-radius: 5px;
}

.search-box {
    position: relative;
}

.search-list {
    height: 300px;
    border-radius: 5px;
    /* border: 1px solid #9c9c9c; */
    background-color: #fff;

    img.finger-gif {
        height: 180px;
        width: auto;

    }
}

.next-button button {
    background: #003a5d;
    padding: 0 3rem;
    font-weight: 400;
    color: #fff !important;
}

.verify-wrapper {
    height: 98vh;
}

.verify-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.items-wrap {
    width: 43rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #eae6e6;
    border-radius: 10px;
    gap: 3rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    .heading-wrap {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}

.primary-heading {
    font-weight: 600;
    font-size: 2.5rem;
}

.info-paragraph {
    font-weight: 500;
    font-size: 1.5rem;
}

.refresh-btn {
    background-color: #003a5d;
    color: white;
    font-size: 1.85rem;
    border-radius: 8px;
    padding: 1.5rem 5rem;
}